// define input parameters, e.g. path to new assemblies to be added, path to the current database
params.addFasta = "/home/ubuntu/data/auto_database/new"
//params.currentDatabase = "/home/ubuntu/data/auto_database/current"
params.currentDatabase = null
params.newDatabase = "/home/ubuntu/data/auto_database/databasetest"

singularity.enabled = 'true'
singularity.autoMounts = 'true'

params.simgdir = '/home/ubuntu/data/auto_database/autodatabase/singularity'
