process {
    withName:TaxAdd {
        container = 'pyautodatabase:latest'
    }
    withName:MashSketch {
        container = 'mash:latest'
    }
    withName:MashDist {
        container = 'mash:latest'
    }
    withName:MashSort {
        container = 'pyautodatabase:latest'
    }
    withName:KrakenAdd {
        container = 'kraken2:latest'
    }
}
docker {
    enabled = true
}

