// singularity config for autodatabase

// path to new fasta to be added to database
params.addFasta = ""

// path to fasta from previous database build
params.currentDatabase = ""

// path where the new database and other results will be saved
params.newDatabase = ""

// enable singularity
singularity.enabled = 'true'
singularity.autoMounts = 'true'

// path to the singularity containers
params.simgdir = ""
